.about {
  padding: 120px 80px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin: 0;
  max-width: 251px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  margin-top: 119px 80px 173px;
  z-index: 1;
}

.about__paragraph {
  margin-bottom: 20px;
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  left: -129px;
  top: -152px;
  z-index: 0;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out 0s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
