.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 45px;
  color: #fff;
}

.menu__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 24px;
  text-align: center;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  max-width: 780px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 17px 40px;
  max-width: 1300px;
  margin: 71px auto 0;
}
