.recipes {
  background-color: #ffffff;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 140px;
}

.recipes__title {
  max-width: 580px;
  padding-bottom: 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin-left: 80px;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
  padding-bottom: 80px;
}

.recipes__videos {
  max-width: 480px;
  max-height: 273px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  list-style: none;
  margin-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
}

.recipes__iframe {
  border: none;
  position: relative;
  z-index: 1;
  background-color: #ccc;
}

.recipes__video-caption {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
